<%- include("../partials/header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="/Images/Logo.png" alt="logo" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">LogIn</h5>
                    <form action="/account/login" method="POST" class="validate-form" novalidate>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" type="text"
                                placeholder="Enter your first name..." name="username" required>
                            <label for="username">User Name</label>
                            <div class="valid-feedback">
                                Looks good!!
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" placeholder="Enter password"
                                name="password" required>
                            <label for="password">Password</label>
                            <div class="valid-feedback">
                                Looks good!!
                            </div>
                        </div>
                        <div class="row" style="display: contents;">
                            <a href="/account/forgotPass">
                                Forgot Password?
                            </a>
                            <button class="btn btn-outline-success btn-lg col-md-6 ml-4">Log In</button>
                        </div>
                    </form><br>
                    <span class="d-flex justify-content-center">
                        Don't have an account?&nbsp;<a href="/account/signup">Sign Up</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
