<%- include("../partials/header") %>
    <script>
        window.room = '<%- id %>',
            window.user = '<%- currentUser.username %>'
    </script>

    <div class="row">
        <div class="col-xl-3  order-xl-0">
            <!-- Chat-bot -->
            <div class="card desktop m-2 text-center">
                <div class="card-header bg-dark" style="color: whitesmoke;">
                    <h3><b>Welcome to T20:Room name</b></h3>
                </div>
                <div class="card-body">
                    <div id="room-name"></div>
                    <hr>
                    <h3>Team Mates</h3>
                    <ul id="users"></ul>
                    <hr>
                    <div class="response"></div>
                </div>
                <div class="card-footer">
                    <input id="msg" type="text" placeholder="Enter any text..." required>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="col-xl-9 order-sm-1 order-xl-1">
            <div style="margin: auto; width: 250px; margin-top: 3vh;">
                <select id="drop-down" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Select your series</option>
                    <option value="ipl">IPL</option>
                    <option value="t20">T20</option>
                    <option value="odi">ODI</option>
                </select>
            </div>
            <div class="desktop players-list d-none m-2">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img style="height: 70vh; width: 70vh;"
                                src="https://www.sportzpower.com/sites/default/files/2020-08/IPL%202020%20banner%20-%20no%20vivo.jpg"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="height: 70vh; width: 70vh;"
                                src="https://st4.depositphotos.com/1001941/24985/v/1600/depositphotos_249856402-stock-illustration-live-streaming-of-odi-cricket.jpg"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="height: 70vh; width: 70vh;"
                                src="https://thumbnails.yayimages.com/1600/c/b8e/cb8e0e6.jpg" class="d-block w-100"
                                alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row text-center">
        <div class="col-xl-12">
            <h2 style="color: lightgray;"> <em>List of teams in this room</em> </h2>

            <div class="card team" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">ganesh team</h5><hr>
                    <p class="card-text">Dhoni</p>
                    <p class="card-text">Virat</p>
                </div>
            </div>

        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/room.js"></script>

<%- include("../partials/footer") %>