<%- include("../partials/header") %>
<script>
    window.room = '<%- id %>',
    window.user = '<%- currentUser.username %>'
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="room-name"></div>
            <h4>Users </h4>
            <ul id="users"></ul>
            <br><br>
            <div class="response"></div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/room.js"></script>

<%- include("../partials/footer") %>
