<!-- Create room Modal -->
<div class="modal fade" id="createroom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter name to create room.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/createroom" method="POST" class="validate-form" novalidate>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="room" type="text" placeholder="Enter room name" name="roomname"
                            required>
                        <label for="room">Enter room name</label>
                        <div class="valid-feedback">
                            Looks good!!
                        </div>
                        <div class="invalid-feedback">
                            Please enter name for the room!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Create room</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Enter room Modal -->
<div class="modal fade" id="enterroom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter room name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/enterroom" method="POST" class="validate-form" novalidate>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="roomid" type="text" placeholder="Enter room id" name="roomid"
                            required>
                        <label for="roomid">Enter room id</label>
                        <div class="valid-feedback">
                            Looks good!!
                        </div>
                        <div class="invalid-feedback">
                            Please enter room id!
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="roomname" type="text" placeholder="Enter room name"
                            name="roomname" required>
                        <label for="roomname">Enter room name</label>
                        <div class="valid-feedback">
                            Looks good!!
                        </div>
                        <div class="invalid-feedback">
                            Please enter room name!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Enter room</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Money modal -->
<div class="modal fade" id="money" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter player name and invest money.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="money-value" class="validate-form" novalidate>
                <div class="modal-body">
                    <p>
                        <em>
                            <strong>Tip: </strong> The amount you enter was in the range of crores and has a limit of
                            100cr per user. So think before you submit the amount because you need to manage that to buy
                            even other players. <br>
                            <strong>ex: </strong>If you enter 1.5 as your amount that means you invested 1.5cr for that
                            player.
                        </em>
                    </p>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="pname" type="text" placeholder="Enter player name" name="pname"
                            required>
                        <label for="pname">Enter player name</label>
                        <div class="valid-feedback">
                            Looks good!!
                        </div>
                        <div class="invalid-feedback">
                            This field is required!!
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="mv" type="number" placeholder="Enter amount" name="money"
                            min="0" step="0.1" max="100" required>
                        <label for="money">Enter the amount you want to spent</label>
                        <div class="valid-feedback">
                            Looks good!!
                        </div>
                        <div class="invalid-feedback">
                            Enter valid number!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Get the player</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Balanced users list modal -->
<div class="modal fade" id="bul" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">These players didn't make any decision.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id='busl'></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" data-bs-dismiss="modal">Ok!</button>
            </div>
        </div>
    </div>
</div>