<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Agile-11</title>
    <link rel="stylesheet" href="/css/main.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="Images/favicon.jfif" type="image/x-icon">
</head>

<body>
    <div id="particles-js"></div>

    <img src="Images/Logo-removebg-preview-crop.png" alt="logo">
    <h1>Agile-11</h1>
    <a href="/home">Explore</a>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>

    <script src="/js/main.js"></script>
</body>

</html>