body{
    background-image: url("../Images/alessandro-bogliari-oDs_AxeR5g4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.navbar-brand, .nav-link{
    font-weight: 600;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

a{
    text-decoration: none;
    color: rgb(0, 124, 173);
    font-size: 1.05em;
}

a:hover{
    text-decoration: none;
}

span{
    font-size: 1.1em;
}