.container h2{
    text-align: center;
    font-weight: bold;
    background-color: #182C61;
    padding: 0.3em;
    border-radius: .5em;
    color: #CAD3C8;
    margin-top: 7px;
    margin-bottom: 1em;
}

.row div{
    text-align: center;
}

.row div img{
    width: 300px;
    height: 200px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.row div p{
    margin: 0 !important;
    cursor: pointer;
}

#player-details{
    border-radius: 15px;
    background-color: #212c38;
    color: #bdc3c7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#player-details img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #0d6efd;
    margin-top: 5px;
}

#player-details div p{
    text-align: start;
}

#player-details div p b{
    color: #cbcdce;
}

.row div p:hover + #player-details{
    position: absolute;
    display: block;
    z-index: 6;
}

#player-details{
    display: none;
}

.details div{
    width: 250px;
    height: 220px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.details div::after{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.details div:hover{
    -webkit-transform: scale(1.0225, 1.0225);
    transform: scale(1.0225, 1.0225);
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5);
}

.details div:hover::after {
    opacity: 1;
}

.score-card div{
    text-align: start;
}

.score-card h6{
    color: #757575;
    word-spacing: 5em;
    display: flex;
    justify-content: space-between;
}

.score-card h6 span{
    color: #757575;
}

.score-card span{
    color: #0069b9;
    font-weight: 700;
}

.score-card div:nth-of-type(n+2) p:nth-child(odd){
    background-color: #f1f2f6;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.scores span:nth-of-type(2){
    word-spacing: 5em;
    color: #000;
    /* font-weight: 600; */
}

@media (max-width: 992px){
    .row div h3 + img{
        width: 220px;
        height: 150px;
    }
}

@media (max-width: 768px), (min-width: 769px) {
    .details div{
        margin-top: 1.5em;
    }
}
