#profile{
    text-align: center;
}

#profile img{
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.update-form h2{
    color: rgba(27, 146, 27, 0.973);
}

.update-form hr{
    width: 350px;
}

.update-form form div input{
    width: 350px;
}

.cp-form{
    padding: 1.5em;
    border: 1px solid #ffe492;
    border-radius: 20px;
}

.cp-form form div input{
    width: 400px;
}

.cp-form h3{
    color: #ffc107;
}

.delete-form{
    padding: 1.5em;
    border: 1px solid rgba(243, 53, 53, 0.877);
    border-radius: 20px;
}

.delete-form h3{
    color: rgba(243, 53, 53, 0.877);
}

.delete-form p{
    font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 992px){
    #profile img{
        padding-top: 3em;
        width: 280px;
        height: 350px;
    }
}

@media (max-width: 991px){
    .update-form hr{
        width: 100%;
    }
    .update-form form div input{
        width: 100%;
    }
    .cp-form form div input{
        width: 100%;
    }
}
