<%- include("../partials/header") %>

    <div class="row">
        <!-- Sidebar start -->
        <div class="col-md-3 sidebar" id="sidebar">
            <center>
                <img src="Images/profile1.jpg" alt="">
                <p>
                    <%= currentUser.username %>
                </p>
            </center>
            <hr>
            <a href="/home">
                <i class="bx bxs-home"></i> <span>Home</span>
            </a>
            <a href="/dashboard">
                <i class="icofont-game-console"></i> <span>My Matches</span>
            </a>
            <a href="#">
                <i class="icofont-chart-histogram"></i> <span>Metrices</span>
            </a>
            <a href="/settings">
                <i class="icofont-ui-settings"></i> <span>Settings</span>
            </a>
        </div>
        <!-- Sidebar end -->

        <!-- Content start -->
        <div class="col-md-9">
            <div class="container" align="center">
                <div class="row" style="margin-top: 50px;">
                    <div class="col ">
                        <button data-bs-toggle="modal" data-bs-target="#createroom" class=" btn btn-primary ">Create room</button>
                    </div>
                    <div class="col">
                        <button data-bs-toggle="modal" data-bs-target="#enterroom" class="btn btn-primary ">Enter room</button>
                    </div>
                </div>

                <div class="row" align="center">
                    <div class="col-xl-6">
                        <div class="card" style="margin:20px;" align="left">
                            <div class="card-header bg-dark" style="color: whitesmoke;">
                                <h2><b>ROOM NAME</b></h2>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">No. of members in a Room</h5>
                                <p class="card-text">Room Name and add other content here</p>
                                <a href="#" class="btn btn-info">Add link here</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card" style="margin:20px;" align="left">
                            <div class="card-header bg-dark" style="color: whitesmoke;">
                                <h2><b>ROOM NAME</b></h2>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">No. of members in a Room</h5>
                                <p class="card-text">Room Name and add other content here</p>
                                <a href="#" class="btn btn-info">Add link here</a>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-xl-6">
                        <div class="card" style="margin:20px;" align="left">
                            <div class="card-header bg-dark" style="color: whitesmoke;">
                                <h2><b>ROOM NAME</b></h2>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">No. of members in a Room</h5>
                                <p class="card-text">Room Name and add other content here</p>
                                <a href="#" class="btn btn-info">Add link here</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card" style="margin:20px;" align="left">
                            <div class="card-header bg-dark" style="color: whitesmoke;">
                                <h2><b>ROOM NAME</b></h2>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">No. of members in a Room</h5>
                                <p class="card-text">Room Name and add other content here</p>
                                <a href="#" class="btn btn-info">Add link here</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <!-- Room modals -->
            <%- include("./modals/modal") %> 
        </div>
        <!-- Content end -->
    </div>

<%- include("../partials/footer") %>
