
<div class="delete-form my-5">
    <h3>Danger zone</h3>
    <hr>
    <p>
        Be careful before you proceed further as it will completely erase your existing
        data and their is no way of retrieving your account back.
    </p>
    <form action="/destroy?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger btn-lg">Delete</button>
    </form>
</div>
