
<div class="cp-form my-5">
    <h3><i class="icofont-light-bulb"></i> Change password</h3>
    <hr>
    <p class="alert alert-info">
        You can change your password here by just following few links.
    </p>
    <a href="/account/forgotPass" class="btn btn-outline-warning btn-lg">
        Change Password
    </a>
</div>
